body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background-image:url('/random_background');
  background-repeat:no-repeat;
  background-attachment:fixed;

}

h1 {
  padding: 7px;
  margin: 0px;
  letter-spacing: 1pt;
  font-family: Verdana, Helvetica, Arial;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  text-transform:capitalize;
  color: gray;

}

a img {
  border: none;
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0px;
  margin-top: 7px;
  padding: 0px;

}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#top_line {
  margin: 0px;
  margin-left: 7px;
	padding: 0px;
	padding-left: 7px;
	position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 7px;
  background-color: #ffffff;
  opacity: 0.65;
  -moz-opacity: 0.65; /* older Gecko-based browsers */
  color: gray;
  font-size: xx-small;
  line-height: 3pt;
}

#menu_column {
  margin-top: 7px;
	padding: 0px;
	position: fixed;
  top: 0px;
  left: 792px;
  height: 100%;

  background-image:url('/images/backgrounds/transparency.png');


}

#menu {
  text-align: left;
  margin-left: -21px;
  margin-top: 7px;
	padding: 0px;
  line-height:8pt;
  padding-left: 21px;
  border-left: white 7px solid;
  opacity: 0.65;
  -moz-opacity: 0.65; /* older Gecko-based browsers */


}

#main {
  margin: 0px;
  margin-left: 7px;
	padding: 0px;
	float: left;
	height: 100%;
	width: 778px;
  background-image:url('/images/backgrounds/transparency.png');

}


table.main {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;


}
table.main th {
	border-width: 0px;
	padding: 0px;
	border-style: none;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.main td {
	border-width: 0px;
	padding: 0px;
	border-style: none;
	border-color: gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

.thumb {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 7px;
  padding-bottom: 8px;
  float: bottom;
  line-height:0pt;

}
.thumb img {
  border: 0;
  filter:alpha(opacity=65);
  -moz-opacity: 0.65;
  opacity: 0.65;

}
.thumb img:hover {
  filter:alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;


}
a {
  text-decoration: none;
  letter-spacing: 1pt;
  font-size:7.5pt;
  font-family:helvetica,Sans Serif;
  color: #000000;
  text-transform:uppercase;

}


a.menu:hover {
  background-color: #CBCBCB;
}


a.menu:hover {
  background-color: none;
}


#show_image {
  text-align: left;
  background-color: #FFF;
  margin: 0px;
  padding: 7px;
}

#description {
  padding-left: 7px;
}

#category, #tags {
  margin: 0px;
  padding: 0px;
  letter-spacing: 1pt;
  font-size: x-small;
  font-family:helvetica,Sans Serif;
  text-transform:capitalize;
  color: gray;
  padding-left: 7px;
  padding-right: 7px;

}
#category, #tags {
  padding-top: 7px;
}

#social_container {
    height: 35px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 7px;

}
#social {
  margin: 0px;
  padding: 0px;
  padding-left: 7px;
  float: left;

}

#searchBox, #sometext {
  margin: 0px;
  margin-top: 7px;
  padding: 0px;
  padding-left: 7px;
}

form {
  margin: 0px;
  padding: 0px;
}

input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: none;
  background-color: #ffffff;
  font-color: #000;
}

.searchButton{
  background:url(/images/icons/search.png) no-repeat;
  cursor:pointer;
  width: 13px;
  height: 13px;
  border: none;
}

