body {
  background-color: #ffffff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background-image:url('/random_background');
  background-repeat:no-repeat;
  background-attachment:fixed;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0px 0px;
  border: solid 0px;
  margin-top: 0px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#menu {
  text-align: right;
  margin: 0px;
	padding: 0px;
	width: 130px;
	position: fixed;
	float: left;
  line-height:8pt;
}

#main {
  margin: 0px;
  margin-left: 150px;
	padding: 0px;
	float: left;

}

.thumb {
  padding: 2px;

}

a.menu {
  background-color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 1pt;
  font-size:7.5pt;
  font-family:helvetica,Sans Serif;
  color: #000000;
  text-transform:uppercase;

}

a.menu:hover {
  background-color: #CBCBCB;

}

