body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;

  text-decoration: none;
  font-size:9pt;
  font-family:helvetica,Sans Serif;
  color: #6E6E6E;
}

a img {
  border: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#logo {
  margin: 0px;
	padding: 0px;
	position: fixed;
  top: 7px;
  left: 7px;
  z-index: 11;
  background-color: #FFFFFF;

}

#bar {
  margin-top: 0px;
  margin-left: 250px;
	padding: 0px;
	position: fixed;
  top: 0px;
  left: 0px;
  height: 145px;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  overflow: hidden;
}

#previous, #next {
  margin: 0px;
  margin-top: 183px;
	padding: 0px;
	position: absolute;
  z-index: 5;
}


#searchBox {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-left: 42px;
}


#bar_social {
  margin: 0px;
  padding: 0px;
  padding-left: 44px;
  border: none;
}


#time {
  margin-top: 0px;
	padding: 0px;
	padding-left: 40px;
	position: fixed;
  top: 100px;
  left: 237px;
  height: 65px;
  width: 365px;

  float: left;
  z-index: 11;
  background-color: #FFFFFF;
}


#menu_column {
  margin-top: 0px;
	padding: 0px;
	padding-top: 100px;
	position: fixed;
  top: 0px;
  left: 0px;
  width: 278px;
  height: 100%;
  float: left;
  z-index: 4;
  background-color: #FFFFFF;

}

#menu_column p {
  margin-left: 44px;
}
#menu_column img {
  margin-left: 22px;
  margin-top: 7px;
}
#bar_social img {
  margin-left: 0px;
  margin-top: 0px;
}
#menu {
  text-align: left;
  margin-left: 44px;
  margin-top: 20px;
  line-height: 11pt;
	padding: 0px;
  padding-left: 0px;

}

#main {
  margin: 0px;
  margin-left: 278px;
	padding: 0px;
	padding-top: 183px;
	height: 100%;
	width: 778px;

}


table.main {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;


}
table.main th {
	border-width: 0px;
	padding: 0px;
	border-style: none;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.main td {
	border-width: 0px;
	padding: 0px;
	border-style: none;
	border-color: gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

.thumb {
  padding-top: 0px;
  padding-right: 7px;
  padding-left: 0px;
  padding-bottom: 8px;
  float: bottom;
  line-height:0pt;

}

.newthumb {
  padding: 0px;
  margin: 0px;
  position: absolute;

}


.thumb img {
  border: 0;
/*  filter:alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
  */
}

.thumb img:hover {
/*  filter:alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  */
}

a {
  text-decoration: none;
  font-size:9pt;
  font-family:helvetica,Sans Serif;
  color: #6E6E6E;
}

a.menu:hover {
  background-color: #CBCBCB;
}

a.menu_highlight {
  background-color: #FF4848;
  color: #FFF;
}

a.submenu, a.submenu_highlight {
  padding-left: 2px;
  font-size:8pt;

}

a.submenu_highlight {

  background-color: #D0E6FF;

}
a.submenu:hover {
  background-color: #CBCBCB;
}


#social_right_align {
    margin: 0px;
    padding: 0px;
    padding-left: 7px;
    text-align: right;
    border: none;
    float: right;

}

#about_text {
    margin: 0px;
    padding: 0px;
    padding-left: 7px;

}

#about_text p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 14px;
}

#description {
    margin: 0px;
    margin-top: -4px;
    padding: 0px;
    padding-left: 20px;

}

#description p {
  margin-top: 0px;
  padding-top: 0px;
}


form {
  margin: 0px;
  padding: 0px;
  z-index: 5;
}

input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: 1px solid #6E6E6E;
  background-color: #FFFFFF;
  font-size:9pt;
  font-family:helvetica,Sans Serif;
  color: #6E6E6E;
  padding: 2px;
}

.searchButton{
  background:url(/images/icons/search.png) no-repeat;
  cursor:pointer;
  width: 12px;
  height: 21px;
  border: none;
}

#copyright {
   font-size: xx-small;
}

.rollover {

  background:url(/images/ROLLOVER_box.png) no-repeat;

  width: 127px;
  height: 59px;
  padding: 5px;

  visibility:hidden;

  float: top;
  line-height:normal;

  filter:alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;
}

