<% title "Edit Post" %>

<table>
  <tr>
    <td valign=top>
<%= render :partial => 'form' %>

    </td>
    <td valign=top>
      <p><strong>CURRENT IMAGE (small)</strong></p>
      <%= image_tag(@post.image.url(:small)) %>
      <p><strong>CURRENT IMAGE (large crop)</strong></p>
      <%= image_tag(@post.image.url(:largecrop)) %>

    </td>
  </tr>
</table>

<p><i>Selecting a new file will replace the image, leave blank unless you want to change the current one.</i></p>

