<% title "home" %>
<% javascript :defaults %>

<div id=time>
  <p>the latest post was made<br/>on <%= Post.last_post_time %></p>
</div>
<% if logged_in? %>
  <p><%= button_to "New Post", new_post_path, :method => :get %><br /></p>
<% end %>

  <%= render :partial => 'post.html.erb', :collection => @posts  %>

  <div id="pagination">
    <%= will_paginate @posts %>
  </div>
  <div id=loading></div>

