<% title "Posts" %>

<p><%= button_to "New Post", new_post_path %><br /></p>

<table>
  <% for post in @posts %>
    <tr>
      <td><%= link_to image_tag(post.image.url(:small)), post_path(post) %></td>
    </tr>
  <% end %>
</table>

