<% title "Posts" %>
<% javascript :defaults, 'endless' %>

<% if logged_in? %>
  <p><%= button_to "New Post", new_post_path, :method => :get %><br /></p>
<% end %>

<div class="test" id="test">
  <table>
    <tr>
      <% @column.each_with_index do |posts, index| %>
        <td valign=top>
          <div id="column_<%= index+1 %>">
              <%= render :partial => 'post', :collection => posts  %>
          </div>
        </td>
      <% end %>
    </tr>
  <table>

</div>

<div id="pagination">
  <%= will_paginate @posts %>
</div>
<div id=loading></div>

