<% title "Posts" %>

<p><%= button_to "New Post", new_post_path, :method => :get %><br /></p>

<table>
  <tr>
    <% @column.each do |posts| %>
      <td valign=top>
        <% posts.each do |post| %>
          <%= link_to image_tag(post.image.url(:small)), post_path(post) %><br/>
        <% end %>
      </td>
    <% end %>
  </tr>
<table>

<%= will_paginate @posts %>

