<% title "about" %>

<div id=time>
  <p>the latest post was made<br/>on <%= Post.last_post_time %></p>
</div>

<table border=0 cellspacing=0 cellpadding=0>
  <tr>
    <td valign=top>
      <%= image_tag "portrait.jpg" %>
    </td>
    <td valign=top>
      <div id=about_text>
                <p>Alex R. Kirzhner is a photographer, illustrator, and a 2 time Grammy nominated art director and designer who lives in New York.</p>
      </div>
    </td>
  </tr>
</table>

