<% title "about" %>

<div id=time>
  <p>the latest post was made<br/>on <%= Post.last_post_time %></p>
</div>

<table border=0 cellspacing=0 cellpadding=0>
  <tr>
    <td valign=top>
      <%= image_tag "portrait.jpg" %>
    </td>
    <td valign=top>
      <div id=about_text>
        <p>Alex R. Kirzhner has been working in the Music/Entertainement industry since he was<br/>a wee lad attending the School Of Visual Arts in NYC - 2001, in other words. Always in<br/>the art department, he has worked himself up from intern to a 2 Time Grammy Nominated Art<br/>Director/Designer. He was included in the prestigious Young Guns by the Art Directors Club in 2008.<br/> He also received a very phallically shaped N.A.R.M. award for outstanding music packaging.</p>

        <p>His work has been featured in XFuns magazine, Preview magazine, and extensively on his personal<br/>Facebook account</p>

        <p>He is not a fan of talking in 3rd person, but he did think it appropriate for this particular page, and therefore he is<br/>reachable at:</p>

        <p><a href=mailto:zippyonthefly@gmail.com class="menu">zippyonthefly@gmail.com</a><br/>
           <a href="http://www.facebook.com/people/Alex-R-Kirzhner/100001820013868" target="_TOP"><%= image_tag "icons/fb.png", :alt => "a.r.kirzhner" %></a>
        </p>
      </div>
    </td>
  </tr>
</table>

