<% title "Categories" %>

<table>
  <% @categories.each do |category| %>
    <tr>
      <td><%=h category.name %></td>
      <td><%= link_to "Edit", edit_category_path(category) %></td>
      <td><%= link_to "Delete", category_path(category), :method => :delete, :confirm => "Sure? Cannot undo!" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_category_path %></p>


<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like></fb:like>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '167440476600508', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

